/* Styling for html and body areas ↓ -----------------------------------------*/


html {
  background: url("../images/bgImg.jpg");
  background-size: cover;
}

body {
  font-family: 'Courier New', monospace;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: static;
  overflow-y: auto;
  background-size: cover;
}

hr {
  background: black;
  opacity: 0.3;
}

/* Styling for Navigation Bar ↓ ----------------------------------------------*/

.navBar {
  grid-area: header;
  width: 100%;
  background-color: black;
  display: inline-flex;
  align-items: center;
  opacity: 0.8;
  justify-content: space-between;
  border-bottom: 1px solid #ff7733;
}

.navLinks {
  list-style: none;
  font-weight: bold;
}

.navLinks li {
  float: right;
}

.navLinks li a {
  font-size: 21px;
  color: white;
  padding: 21px 30px;
  transition: background 0.1s ease-in-out;
  height: 100%;
  text-decoration: none;
}

.navLinks li a:hover {
  background: white;
  color: black;
  height: 100%;
}

.navLinks li a.active {
  background: #ff7733;
  color: black;
}

#logoArea {
  float: right;
  display: inline-flex;
  margin: 0 20px;
}

#logo {
  width: 150px;
}


/* Styling for Home page ↓ ---------------------------------------------------*/

#index_Area {
  width: 100%;
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#infoField {
  grid-area: content;
  font-size: 20px;
  padding: 10px;
  margin: 4rem auto 4rem auto;
  width: 60%;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  background-color: black;
  opacity: 0.8;
  color: white;
}

#infoField header h1 {
  font-size: 1.7em;
  margin: 2em auto;
  background: black;
}

#infoField h1, h2, h3 {
  text-align: center;
  background: black;
}

#infoField ul {
  padding: 0 25%;
}

/* Styling for Login/Register page ↓ -----------------------------------------*/

#login_Area {
  width: 100%;
  display: grid;
  grid-template-areas: "header" "LR" "changeInfo" "pHistory";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

#LogRegContainer {
  grid-area: LR;
  border: 2px solid black;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  border-radius: 5px;
  margin: 4rem auto 4rem auto;
  width: 40%;
  overflow: hidden;
  background-color: black;
  opacity: 0.8;
  color: white;
}

#log, #reg {
  overflow: hidden;
}

#changeInfo {
  grid-area: changeInfo;
  border: 2px solid black;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  border-radius: 5px;
  margin: auto auto 4rem auto;
  width: 40%;
  overflow: hidden;
  display: grid;
  background-color: black;
  opacity: 0.8;
  color: white;
}

#changeInfo hr {
  background: white;
  width: 100%;
  margin: 10px 0 30px 0;
}

.changeInfoStl {
  width: 80%;
  margin: auto auto auto auto;
  padding: 5%;
}

.changeInfoStl input {
  margin: 5px 0 10px 0;
  border: 1px solid black;
  height: 60%;
  background: white;
  border-radius: 5px;
  margin: 0 0 5% 0;
}

.changeInfoStl a  {
  text-align: left;
  font-size: 120%;
}

.changeInfoStl button {
  width: 50%;
  margin: 20px auto;
  background: #ff7733;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  color: black;
}

.changeInfoStl button:hover {
  background: white;
  color: black;
}

#purchaseHistory {
  grid-area: pHistory;
  border: 2px solid black;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  border-radius: 5px;
  margin: auto auto 4rem auto;
  width: 40%;
  overflow: hidden;
  display: grid;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
}

#purchaseHistory hr {
  background: white;
  width: 100%;
  margin: 10px 0 30px 0;
}


.purchaseHistoryStl {
  width: 80%;
  margin: auto auto auto auto;
  padding: 1%;
}




/* Styling for Login/Register mini navigation bar ↓ --------------------------*/

.nav_LR {
  width: 100%;
  background: black;
  font-size: 130%;
  list-style: none;
  display: inline-flex;
  padding: 2% 0;
  margin: 0;
  overflow: hidden;
}

.nav_LR  li {
  margin: auto;
  width: 50%;
  text-align: center;
}

.nav_LR li a {
  color: white;
  text-align: center;
  padding: 5% 20%;
  margin: 0px;
  text-decoration: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  transition: background 0.1s ease-in-out;
}

.nav_LR li a:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.nav_LR li a.active {
  background: white;
  color: black;
}

/* Styling for login and register input areas and buttons ↓ ------------------*/

.inputfield {
  grid-area: logout;
  width: 80%;
  margin: auto auto auto auto;
  padding: 10%;
}

.inputfield input {
  margin: 5px 0 10px 0;
  border: 1px solid black;
  height: 60%;
  background: white;
  border-radius: 5px;
  margin: 0 0 5% 0;
}

.inputfield a  {
  text-align: left;
  font-size: 120%;
}

.inputfield button {
  width: 50%;
  margin: 20px auto;
  background: #ff7733;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  color: black;
}

.inputfield button:hover {
  background: white;
  color: black;
}



/* Styling for Play page ↓ ---------------------------------------------------*/

#play_Area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "header" "playfield" "commandlist";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#canvasCmdCont {
  grid-area: playfield;
  position: relative;
  margin: 4rem auto 4rem auto;
}

#cmdCont {
  justify-content: center;
  margin: 0 auto;
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
  display: inline-flex;
}

#commandBtn {
  margin-left: 10px;
  width: 70px;
  border: 2px solid #ff7733;
  border-radius: 5px;
  background-color: #ff7733;
  color: black;
  font-weight: bold;
}

#commandlist {
  width: 800px;
  margin: 0 auto 4rem auto;
  text-align: justify;
  padding: 20px 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  border-right: 2px solid white;
  color: white;
  opacity: 0.8;
  background-color: black;
}

#commandlist h2 {
  background: black;
}

#commandline {
  width: 300px;
  height: 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
}

#mycanvas {
  margin: auto;
  width: 900px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  background: white;
}

/* Styling for Highscores page ↓ ---------------------------------------------*/

#highscores_Area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "header" "highscores";
  grid-template-rows: auto auto;
}

#leaderboard {
  grid-area: highscores;
  width: 45%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  margin: 4rem auto 4rem auto;
  background-color: black;
  opacity: 0.8;
  color: white;
}


#leaderboard h1 {
  text-decoration: underline;
  padding-bottom: 15px;
}

#leaderboard h4 {
    text-decoration: none;
}

#positions li div {
    display: flex;
    justify-content: space-between;
}

#positions li div a {
    margin-right: 25px;
}

#leaderboard hr {
  background: black;
  margin-right: 25px;
  opacity: 0.3;
}

/* Styling for Market page ↓ ---------------------------------------------*/

#market_Area {
  width: 100%;
  height: 100%;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  grid-template-areas: "header header" "search points" "items basket";
  grid-template-rows: auto auto auto;
}

#searchField {
  grid-area: search;
  display: inline-flex;
  width: 60%;
  margin: 4rem auto;
}

#barBtnHolder {
  width: 85%;
  display: inline-flex;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  justify-content: center;
}

#searchBar {
  width: 88%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;

  background-color: black;
  opacity: 0.8;
  color: white;
}

#searchBtn {
  width: 12%;
  margin: 0;
  border: 2px solid black;
  border-radius: 0 5px 5px 0;
  background-color: #ff7733;
  color: black;
  opacity: 0.9;
  font-weight: bold;
}

#searchBtn img {
  height: 20px;
  width: 20px;
}

#sortBtn {
  width: 15%;
  margin: auto 0 auto 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

#points {
  width: 60%;
  grid-area: points;
  color: white;
  margin: auto auto auto 0;
  text-align: center;
  background: #1a1a1a;
  border: 2px solid black;
  border-radius: 5px;
}

#itemHolder {
  width: 60%;
  grid-area: items;
  margin: 0 auto auto auto;
  background: black;
  opacity: 0.9;
  border: 2px solid black;
  border-left: 2px solid  #1a1a1a;
  border-right: 2px solid  #1a1a1a;
  border-radius: 5px;

}

#itemHolder h1, h2 {
  color: white;
  margin: 0;
  padding: 0 0 0 0.5rem;
  background: #1a1a1a;
}

.singleItem {
  margin: 1rem 1rem;
  padding: 1rem;
  display: flex;
  color: white;
  justify-content: space-between;
  border-top: 1px solid #ff7733;
  border-bottom: 1px solid #ff7733;
  border-radius: 5px;
  background: black;
}

.singleItem * {
  align-self: center;
}

#basketContainer {
  grid-area: basket;
  width: 60%;
  margin: 0 auto auto 0;
  opacity: 0.9;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
}

#basket {
  background: black;
}

#basketContainer h1 {
  color: white;
  margin: 0;
  padding: 0 0 0 0.5rem;
  background: #1a1a1a;
}

#basketContainer h2 {
  text-align: right;
  padding: 0 0.5rem 0 0;
}

#basketContainer #clear {
  font-size: 80%;
  text-align: right;
}

#basketContainer #checkoutBtn {
  color: black;
  background: #ff7733;
  text-align: center;
}

.itemL {
  width: 40px;
  height: 40px;
  margin: 2px;
}



/* Styling for Footer and footer image ↓ -------------------------------------*/

.footer {
   font-family: 'Arial', sans-serif;
   font-size: 10px;
   display: flex;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 7%;
   background: transparent;
   color: white;
   align-items: center;
   justify-content: left;
}

.footer img {
  height: 36px;
  width: 32px;
  margin: 0 5px;
}

.footer a {
  color: white;
  text-decoration: none;
}
